.form-container {
  background-color: rgba(255, 255, 255, 0.4);
  width: 25%;
  margin: auto;
  margin-top: 0.5rem !important;
  border-radius: 20px;
  padding: 1.5rem;
  position: relative;
}
.form-container h2 {
  align-items: center;
  color: #0D5CA6;
  text-align: center; 
}
.field {
  margin-top: 0.7rem !important;
}
.field-checkbox{
  display: flex;
  margin-top: 1.6rem !important;
}
.checkbox{
  height:1rem;
  width:1rem;
  margin-top:0px;
}
.terms {
  text-decoration: none;
  color: #0D5CA6;
  font-weight: 500;
}
.custom-toast {
  font-size: 0.8rem;
}
@media screen and (max-width: 280px) {
  .form-container {
    width: 70%;
    margin-top: 0rem !important;
    padding: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .form-container {
    width: 70%;
    min-height: 50vh;
    margin-top: 2.5rem !important;
  }
}
@media screen and (max-width: 375px) {
  .form-container {
    width: 70%;
    margin-top: 1rem !important;
    padding-top: 1rem;
  }
  .form-container h2{
    font-size: 1.3rem;
  }
  .field {
    margin-top: 0.3rem !important;
  }
  .field-checkbox{
    margin-top: 1.2rem !important;
  }
}
@media screen and (max-width: 912px) {
  .form-container {
    width: 70%;
  }
}
