input[type="email"],
input[type="password"],
input[type="number"],
input[type="submit"]{
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  height: 3rem; 
  background-color: transparent;
  border:none;
  border-bottom: 1px solid white;
}
input:focus, select:focus{
    outline: none;
    border-bottom: 1px solid #0D5CA6;
}
::placeholder{
    color:rgb(36, 36, 36)
}
input[type="submit"] {
    position: relative;
    background-color: #0D5CA6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #004483;
}